{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'calc.css' %}">
    
    <title>Calculator</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1 class="mt-2">Calculator</h1>
                <h3 class="mt-2">Let's do some calculations </h3>
                <hr class="mt-0 mb-4">                 
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
    <script src="{% static 'calc.js' %}"></script>
</body>

</html>